.title-underline {
  width: 320px;
  height: 2px;
  margin: 0 auto; }

.search-icon {
  color: #c7c6c6;
  width: 100px;
  padding-top: 8px; }

.card-btn {
  float: right;
  background-color: #faf9f9 !important;
  color: #4d4d4d !important;
  border: none !important;
  border-radius: 0 !important; }

.char-btn {
  float: right;
  background-color: #faf9f9 !important;
  color: #4d4d4d !important;
  border: none !important;
  border-radius: 0 !important; }

.char-text {
  float: right;
  background-color: #faf9f9 !important;
  color: #4d4d4d !important;
  border: none !important;
  border-radius: 0 !important; }

.footer {
  height: 12vh;
  background-color: #c7c6c6;
  border-top: 1px solid #7b7979; }

.link-style {
  color: white;
  text-decoration: underline; }
  .link-style a.link-style:hover {
    color: red !important; }

.bg {
  background: url(./assets/hero-banner.jpg) center/cover no-repeat;
  height: 84vh; }
